@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400500;600&display=swap");
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ex01_heartbeat */
.ex01 {
  background-color: #222;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.heart-beat {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: #ec7979;
  transform: rotate(45deg);
  box-shadow: 0 -10px 100px #ec7979, 0 -10px 150px #ec7979, 0 -10px 200px #ec7979;
  animation: heart-beat 0.5s linear infinite;
}
@keyframes heart-beat {
  0% {
    transform: rotate(45deg) scale(1);
  }
  50% {
    transform: rotate(45deg) scale(1.05);
  }
  100% {
    transform: rotate(45deg) scale(0.95);
  }
}
.heart-beat:before, .heart-beat:after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  background-color: inherit;
}
.heart-beat:before {
  top: -50%;
}
.heart-beat:after {
  left: -50%;
}

/* ex02_figma */
.ex02 {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.figma {
  width: 150px;
}
.figma > span {
  text-align: center;
  display: block;
  margin-bottom: 20px;
  color: #222;
  letter-spacing: 3px;
  font-family: "Hind", sans-serif;
  font-weight: 500;
  font-size: 50px;
}
.figma .shape {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.figma .shape span {
  background-color: blue;
  width: 75px;
  height: 75px;
}
.figma .shape span:nth-child(1) {
  background-color: #f24e1e;
  border-radius: 50% 0 0 50%;
}
.figma .shape span:nth-child(2) {
  background-color: #ff7262;
  border-radius: 0 50% 50% 0;
}
.figma .shape span:nth-child(3) {
  background-color: #a259ff;
  border-radius: 50% 0 0 50%;
}
.figma .shape span:nth-child(4) {
  background-color: #1abcfe;
  border-radius: 50%;
}
.figma .shape span:nth-child(5) {
  background-color: #0acf83;
  border-radius: 50% 0 50% 50%;
}

/* ex03_accordion-nav */
.ex03 {
  font-family: "Raleway", sans-serif;
  color: #333;
  display: flex;
  justify-content: center;
}
.ex03 a {
  text-decoration: none;
  color: inherit;
}
.ex03 .items {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #535c68;
  width: 250px;
}
.ex03 .items .close-item {
  background-color: crimson;
  overflow: hidden;
  text-align: center;
}
.ex03 .items .sub-items {
  background-color: #626e7e;
  max-height: 0;
  overflow: hidden;
  transition: 0.35s;
}
.ex03 .items .sub-items:target {
  max-height: 500px;
}
.ex03 .items .sub-items a {
  border-bottom: 1px solid #444c56;
}
.ex03 .items .sub-items a:last-child {
  border-bottom: none;
}
.ex03 .items .main-item > a {
  position: relative;
  border-bottom: 1px solid #444c56;
}
.ex03 .items .main-item > a:last-child {
  border-bottom: none;
}
.ex03 .items .main-item > a:after {
  content: "\f107";
  font-family: fontawesome;
  position: absolute;
  top: 0;
  right: 5%;
  transform: translateY(50%);
}
.ex03 .items li a {
  color: #fff;
  text-transform: capitalize;
  padding: 10px;
  display: block;
}

/* ex04_nav_jquery */
.ex04 {
  font-family: "Raleway", sans-serif;
  margin: 0;
  background-color: #000;
  line-height: normal;
  box-sizing: border-box;
}
.ex04 .faq {
  color: #fff;
}
.ex04 .faq-inner {
  width: 900px;
  margin: auto;
}
.ex04 .faq-inner h1 {
  font-size: 36px;
  text-align: center;
  padding: 50px 0 20px;
}
.ex04 .faq-title {
  background-color: #333;
  padding: 10px;
  margin-bottom: 5px;
  cursor: pointer;
  position: relative;
}
.ex04 .faq-title:before, .ex04 .faq-title:after {
  content: "";
  position: absolute;
  background-color: #fff;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.35s;
}
.ex04 .faq-title:before {
  width: 20px;
  height: 2px;
  right: 20px;
}
.ex04 .faq-title:after {
  height: 20px;
  width: 2px;
  right: 29px;
}
.ex04 .faq-title.active:after, .ex04 .faq-title.active:before {
  transform: translateY(-50%) rotate(-45deg);
  transition: 0.35s;
}
.ex04 .faq-content {
  padding: 10px;
  display: none;
}

/* ex05_light icon - variable, scss color function */
.ex05 {
  margin: 0;
  background-color: #000;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.ex05 .icons {
  list-style: none;
  color: #fff;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;
}
.ex05 .icons li input[name=chk-item] {
  display: none;
}
.ex05 .icons li input[name=chk-item]:checked + label div {
  border: none;
  box-shadow: 0 0 10px rgba(116, 185, 255, 0.5), 0 0 15.015015015px rgba(116, 185, 255, 0.5), 0 0 20px rgba(116, 185, 255, 0.5), inset 0 0 3.00030003px #74b9ff;
  text-shadow: 0 0 10px #74b9ff, 0 0 15.015015015px #74b9ff, 0 0 20px #74b9ff;
}
.ex05 .icons li label {
  cursor: pointer;
}
.ex05 .icons li label div {
  box-sizing: border-box;
  color: #fff;
  width: 100px;
  height: 100px;
  border: 3.00030003px solid #fff;
  border-radius: 10px;
  background-color: #111;
  font-size: 50px;
  display: grid;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

/* ex06_ login form */
.ex06 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.ex06 .login {
  border: 1px solid #000;
  width: 350px;
  height: 350px;
  padding: 25px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.ex06 .login h1 {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  padding-bottom: 25px;
  text-align: center;
}
.ex06 .login input {
  display: block;
  width: 100%;
  margin: 10px 0;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 3px;
  outline: none;
  transition: 0.35s;
  cursor: pointer;
}
.ex06 .login input:not([type=submit]) {
  border: 1px solid #ccc;
  background: url("/images/login_user.svg") no-repeat left/14% 84%;
  padding-left: 40px;
}
.ex06 .login input:not([type=submit]):hover {
  border: 1px solid skyblue;
  box-shadow: 0 0 5px skyblue;
}
.ex06 .login input[type=password] {
  background: url("/images/login_pw.svg") no-repeat left/14% 84%;
}
.ex06 .login input[type=email] {
  background: url("/images/login_mail.svg") no-repeat left/14% 84%;
}
.ex06 .login input[type=submit] {
  background-color: skyblue;
  color: #fff;
  border: none;
  padding: 12px;
  font-size: 15px;
  letter-spacing: -1px;
}
.ex06 .login input[type=submit]:hover {
  background-color: royalblue;
}