/* mixin */
@mixin default{
  background-color: $body-bgc;
  margin:0;
  padding:0;
  font: {
      family: 'Raleway', sans-serif;
      size: 18px;
      weight: bold; 
  }
}

@mixin heading{
  text-align: center;
  font-style: 30px;
  text-transform: capitalize;
  padding: 50px 0;
  h1{
   position: relative;
  }
  p{
      color: blue;
  }
  &::before{
      content:'';
      position: absolute;
      width:100px;
      height:4px;
      background-color: red;
      bottom:0;
      left:50%;
      transform: translateX(-50%);
  }
}

@mixin notice-btn{
  font-size: 15px;
  background-color: #fff;
  outline: none;
  cursor: pointer;
  &:hover{
    background-color: #000;
    color:#fff;
  }
}

@mixin border-style($width, $style, $color){
  border: $width $style $color;
}

@mixin button-padding($updown, $leftright){
  padding: $updown $leftright;
}

.yes{
 @include border-style(2px, solid, blue);
 @include button-padding(5px, 10px);
}
.no{
 @include border-style(2px, solid, red);
 @include button-padding(20px, 10px);
}