/* Variables*/
$color-primary:#222;
$color-secondaty: #333;
$bgc-item: #eee;
$portfolio-item-w: 300px;
$portfolio-item-h: 300px;
$portfolio-item-bdrs: 10px;
$portfolio-images-url: "../images/";
$primary-btn: blue;
$secondary-btn: yellow;
$warning-btn: red;
$body-bgc: #ddd;
$fs: 15px;
$box-margin: 50px;

$complate-btn : skyblue;
$loading-btn: yellow;
$error-btn: red;

$color:(
  font-primary: #2d3456,
  font-secondary: #636e72,
  font-focus: #0984e3,
  bgc-primary: #eee,
  bgc-secondary: #b2bec3
);

$headline-font:(
  large: 45px,
  midium: 31px,
  small: 13px
);

$font-family: (
  kor: "'Noto Sans KR', sans-serif",
  eng: "'Raleway', sans-serif"
);

$font-base: 15px;
$font-family-base: 'Raleway';
$font-family-headline: 'Roboto';

